
#contact {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  margin: 0px;
}

.section-contacts__title {
  padding-bottom: 33px;
  font-size: 22px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #413d4b;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
}

.section-contacts__input {
  display: block;
  margin-bottom: 5px;
  padding: 10px 20px 11px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  outline: none;
  border: 1px solid #e5e5e5;
  color: #413d4b;
  line-height: inherit;
  -webkit-transition: -webkit-box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
  position: relative;
}
.section-contacts__feedback {
  display: block;
  margin-top: 60px;
  max-width: 500px;
  margin-left: 250px;
}

.section-contacts__textarea {
  height: 200px;
  margin-bottom: 10px;
}
.section-contacts__button {
  bottom: 200px;
  position: static;
  margin: 30px;
}

.section__inner_padding {
  padding-top: 67px;
  padding-bottom: 70px;
}
.section-contacts {
  max-width: 100%;
  margin-bottom: 60px;
}
footer {
  background-image: url(/images/footerimg.png);
  background-size: cover;
}

.footertext {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.footertop {
flex: 1; 
padding: 2rem; 
}

.footerinfo {
  color: white;
  flex: 1;
  padding: 2rem;
}

.footernewsletter {
 flex: 1;
 padding: 2rem;
 max-width: 13rem;
}

.footerbutton {
  display: block;
  float: right;
  width: 70px;
  height: 44px;
  outline: none;
  border: none;
  background: url(/images/paper122.png) 50% no-repeat, rgba(255, 255, 255, 0.5);
  cursor: pointer;
  filter: brightness(180%);
  margin-left: 10px;
}
.footersocials {
  margin-top: 30px;
}
.footerinput {
  display: block;
  float: left;
  color: #fff;
  height: 10px;
  padding: 15.5px 20px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: 0 0;
  line-height: 1;
}
.footernav {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  color: white;
  min-height: 1px;
  text-decoration: none;
  margin-left: 80px;
  padding-right: 38px;
  margin-top: 30px;
}
.footernav-link {
  color: white;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}

.footercopy {
  color: white;
  text-align: right;
  margin-left: 500px;
  margin-right: 150px;
}

a:link {
  text-decoration: none;
  color: #fff;
}

.footernav-link:hover {
  color: #00e0d0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-inline-start: 20%;
  margin-inline-end: 20%;
  flex-wrap: wrap;
}

.footerform {
  margin-top: 3px;
  padding-bottom: 27px;
}

.footerphone {
  background: url(/images/phone.png) 0 3px no-repeat;
}

.footerlocation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0.5rem 0;
}

.footerlocation img {
  margin-right: 0.2rem;
}

.footer-logo {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 1rem 0;
}

/* .footerlogo h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #00d8ca;
  font-size: 28px;
  text-transform: lowercase;
  float: right;
  margin-right: 150px;
} */
.footerinfo {
  display: flex;
  flex-direction: column;
  
}


.footertitle {
  display: flex;
  align-items: center;
  padding: 1rem;
  text-transform: uppercase;
  color: white;
  height: 50px;
}

.footerbottom {
  padding: 5px 20px;
}