/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
img,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}




/* Franz' CSS */


/* HEADER*/
/* General */

header {
  background-image: url("/images/bgk-header.png");
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
}

header :any-link {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

header h1 {
  font: bold 1.5rem "Roboto Slab", serif;
}

/* Navigation + Logo*/

.nav-bar {
  align-items: center;
  justify-content: space-between;
  display: flex;
  font: 0.8rem "Roboto", sans-serif;
  flex: 1;
  flex-direction: row;
  padding: 0.2rem;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo img {
  margin: 0.5rem 0;
}

.logo-subheading {
  padding: 0 0.4rem;
  font-size: 1.3rem;
  color: #16aac4;
}

nav {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

nav a:hover {
  color: #00e0d0;
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-list li {
  padding: 0 0.5rem;
  text-transform: uppercase;
  font-size: 0.6rem;
}

/* Header text */

.header-content {
  align-self: center;
  display: flex;
  flex: 10;
  flex-direction: column;
  justify-content: center;
  margin: 5rem 0;
  text-align: center;
  width: 50%;
}

.header-content * {
  margin: 0.7rem auto;
}

.header-content hr {
  border-width: 0;
  background-color: #00e0d0;
  color: #00e0d0;
  height: 1px;
  width: 10%;
}

.button-franz {
  padding: 0.5rem 0.5rem;
  color: #00e0d0;
  background-color: transparent;
  border: 1px solid #00e0d0;
  border-radius: 5%;
  text-transform: uppercase;
  cursor: pointer;
}

header .button-franz {
  margin-top: 2rem;
}

.button-franz:hover {
  box-shadow: 0 0 2px 2px #00e0d0;
  font-weight: bold;
  transition: 0.2s;
}

/* Section "Story" */

#story {
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.story-image-container {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 2rem;
  margin-inline-start: 20%;
}

.story-image-container img {
  max-width: 100%;
 
}

.story-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 2rem;
  margin-inline-end: 20%;
}

.story-text-container * {
  margin-bottom: 1.4rem;
}

.subheading-franz {
  font: bold 1rem "Roboto Slab", serif;
  text-transform: uppercase;
}

.story-media-container {
  align-items: center;
  background-image: url("/images/bgk-middle.png");
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: 2/1 / span2/3;
  height: 80vh;
}

.story-media-wrapper {
  display:flex; 
  flex-direction: column;
}

.story-media-wrapper:hover {
  text-shadow: 0 0 2px white;
  cursor: pointer;
}

.video-player-heading {
  padding-top: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
}





#contact {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  margin: 0px;
}

.section-contacts__form {
  max-height: 600px;
  position: re;
}

.section-contacts__title {
  padding-bottom: 33px;
  font-size: 22px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #413d4b;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  text-align: left;
}
.section-contacts__clients {
  position: relative;
  min-height: 1px;
  padding: 10px;

  width: 100%;
}
.section-contacts__input {
  display: block;
  margin-bottom: 5px;
  padding: 10px 20px 11px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  outline: none;
  border: 1px solid #e5e5e5;
  color: #413d4b;
  line-height: inherit;
  -webkit-transition: -webkit-box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
  position: relative;
}
.section-contacts__feedback {
  margin-top: 20px;
  max-width: 450px;
  margin-left: 80px;
  display: block;
}

.section-contacts__textarea {
  height: 200px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
}

.section-contacts__button {
  bottom: 200px;
  position: static;
  margin: 30px;
}

.section__inner_padding {
  padding-top: 67px;
  padding-bottom: 70px;
}
.section-contacts {
  max-width: 100%;
  margin-bottom: 60px;
}
.section-contacts__client img {
  vertical-align: middle;
  padding: 10px;
}
.section-contacts__button {
  display: inline-block;
  padding: 11px 14px;
  outline: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #00e0d0;
  background: 0 0;
  font-size: 16px;
  line-height: 16px;
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  color: #00e0d0;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color 0.2s linear, border-color 0.2s linear,
    -webkit-box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear, color 0.2s linear,
    border-color 0.2s linear;
  transition: box-shadow 0.2s linear, color 0.2s linear,
    border-color 0.2s linear, -webkit-box-shadow 0.2s linear;
}
.section-contacts__clients {
  margin-left: 600px;
  bottom: 515px;
}
.wrapper {
  width: 500px;
  padding: 10px;
}
.box {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
.box > * {
  flex: 1 1 160px;
  margin: 10px;
}


footer {
  background-image: url(/images/footerimg.png);
  background-size: cover;
}

.footertext {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.footertop {
flex: 1; 
padding: 2rem; 
}

.footerinfo {
  color: white;
  flex: 1;
  padding: 2rem;
}

.footernewsletter {
 flex: 1;
 padding: 2rem;
 max-width: 13rem;
}

.footerbutton {
 display: flex; 
 background-color: white;
 margin-inline-start: 0.3rem;
 min-width: 50px;
 align-items: center;
 justify-content: center;
 opacity: 50%;
}

.footerbutton:hover {
  opacity: 100%;
  transition: 0.5s;
  cursor: pointer;
}

.footersocials {
  margin-top: 1rem;
}

.footerinput {
  color: #fff;
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: 0 0;
  line-height: 1;
}
.footernav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: white;
  text-decoration: none;
  flex: 2;
  padding-bottom: 2rem;

}

.footernav-link {
  color: white;
  text-transform: uppercase;
  padding: 0 2rem;
}

.footercopy {
  color: white;
  flex: 1;
  text-align: right;
}

a:link {
  text-decoration: none;
  color: #fff;
}

.footernav-link:hover {
  color: #00e0d0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-inline-start: 20%;
  margin-inline-end: 20%;
  flex-wrap: wrap;
}

.footerform {
  display: flex;
  flex-direction: row;
}

.footerphone {
  background: url(/images/phone.png) 0 3px no-repeat;
}

.footerlocation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0.5rem 0;
}

.footerlocation img {
  margin-right: 0.5rem;
}

.footer-logo {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 1rem 0;
}

/* .footerlogo h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  color: #00d8ca;
  font-size: 28px;
  text-transform: lowercase;
  float: right;
  margin-right: 150px;
} */

.footerinfo {
  display: flex;
  flex-direction: column;
  
}


.footertitle {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
  text-transform: uppercase;
  color: white;
  height: 50px;
  font-weight: bold;
}

.footerbottom {
  padding: 5px 20px;
}


/* Media queries */

@media only screen and (max-width: 600px) {
  #story {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .story-image-container {
    align-self: center;
    margin-inline-start: 0;
  }

  .story-text-container {
    align-items: center;
    margin-inline-end: 0;
  }

  .story-image-container {
    width: 20%;
  }

  .flex-container {
    flex-direction: column;
  }

  .footertitle {
    height: auto;
  }
}

