/* Claudia's CSS */

/* Expertise+Team Sections' General Styling */

#expertise,
#team {
  padding: 4.5% 0;
}

.table-cl {
  display: grid;
  text-align: center;
  justify-content: center;
}

.tabhead {
  padding-bottom: 3rem;
  font-family: "Roboto Slab", serif;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
}


.tabheader-h4 {
  font-size: 1.25rem;
}

.tabhr {
  height: 1px;
  width: 15%;
  background-color:grey;
  border: none;
}

td h5 {
  font-weight: 900;
  margin: 1rem;
  font-size: 0.75rem;
}

/* Epertise Section Specific Styling */

#expertise .table-cl {
  margin-left: 20%;
  margin-right: 20%;
  border-collapse: collapse;
}

#expertise tbody p {
  color: rgb(128,128,128);
  padding: 3%;
}

#expertise td {
  padding: 4%;
  line-height: 1.25rem;
}

#expertise td + td {
  border-left: 0.5px solid rgb(231, 230, 225);
}

#expertise tr + tr {
  border-top: 0.5px solid rgb(231, 230, 225);
}

/* Team Section Specific Styling */


#team {
  background-image: url("../images/bgk-header.png");
  color: white;

  background-size: cover;
}

#team .table-cl {
  border-collapse: separate;
  border-spacing: 16px;
}

#team thead {
  margin-bottom: -22px;
}

#team tbody td {
  border: 0.5px solid rgb(231, 230, 225, 0.3);
}

#team img {
  width: 200px;
  height: auto;
  background: white;
}

#team tbody p{
color: rgb(231, 230, 225, 0.6);
margin-bottom: 1rem;
margin-top: -10px;
}

tfoot {
  margin: 3%;
  display: flex;
  justify-content: center;
  
}

td .button-franz {
margin-top: 13%;
}



/* Responsiveness */

@media only screen and (max-width: 800px) {
  #team tbody td {
    border: none;
    padding-bottom: 50px;
  }
  
  #expertise td + td, tr + tr {
    border: none
  }
  
    tbody td {
      
       width: 100%;
        display: block;
  
       border-spacing: none;
        border: none;
    }
  }
